<h1>Users</h1>

<table>
  <thead>
    <tr>
      <th>First name</th>
      <th>Last name</th>
      <th>Age</th>
      <th>Gender</th>
      <!-- <th colspan="10"></th> -->
      <th colspan=2>
          <a style="color:blue" href="/users/#!/users/new">New</a>
        </th>
    </tr>
  </thead>

  <tbody>
    <tr ng-repeat="user in $ctrl.users"> 
      <td>{{user.first_name}}</td>
      <td>{{user.last_name}}</td>
      <td>{{user.age}}</td>
      <td>{{user.gender}}</td>
      <td>
        <a ng-click="$ctrl.showEditTemplate(user)">show</a>
      </td>
      <td>
        <a ng-click="$ctrl.showEditTemplate(user)">edit</a>
      </td>
      <td>
        <a ng-click="$ctrl.deleteUser(user)">destroy</a>
      </td>
    </tr>
  </tbody>
  <user-edit ng-show="$ctrl.enableEdit" user="$ctrl.user"></user-edit>
</table>